*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --layout-bg: #2c3e50;
  --layout-text: white;
  --color-primary: #224fb1;
  --color-primary-hover: #1b3d8a;
  --color-secondary: #dd5b5be1;
  --color-secondary-hover: #d14d4db3;
  --color-theme: white;
}

body {
  font-family: Arial, sans-serif;
}

.error,
.input-error,
.error-message {
  color: red;
}

.input-error {
  border: 1px solid red;
}
